body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(../images/flr.jpg);
  background-color: #eee;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-width: 100%;
  /*max-height: 20rem;*/
}

@media (max-width: 550px) {
  h1 {
    font-size: 1rem;
    color: #123;
  }
  input[type="submit"] {
    margin-right: 10em;
    margin-bottom: 2em;
    padding-right: 1em;
  }
  input label {
    float: left;
  }
}

/***************** NAV *****************/

@media (max-width: 680px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: .05em solid #eee;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  background-color: #123;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav ul li {
  text-align: center;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1.2em;
  color: #FFFFFF;
}

li a:hover {
    background-color: #ffffff;
    color: inherit;
    text-decoration: none;
}

.cart-info {
  margin-left: 90%;
  margin-bottom: 20px;
}

/**************** HERO *****************/

h1 .logo-w {
  font-size: 3.5rem;
}

header img {
  max-height: 4.7rem;
  margin-left: auto;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #123;
  border: 1px solid #123;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside {
  float: right;
  margin-top: 1em;
  margin-right: 1em
}

/*********** PRODUCTS SECTION ***********/

.item-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 96%;
  flex-wrap: wrap;
  margin: 1rem;
}

.item {
  flex-direction: row;
  padding: 0.5em;
  line-height: inherit;
  border: 1px solid #EEEEEE;
  border-radius: 1%;
  margin: inherit;
  width: auto;
}

.item-container img {
  max-width: 15em;
}

.item-container p {
  width: 16em;
}

.price {
  font-family: cursive;
  font-weight: bold;
}

button {
  float: right;
  width: 25%;
}

.item-size {
  float:left;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

footer {
  background-color: #123;
  padding: 1em;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
